<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <br />
    <h3>Edit Listing</h3>
    <hr />
    <form
      method="post"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          required
        />
        <div class="invalid-feedback">Title can't be left blank.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description: </label>
        <textarea
          class="form-control"
          name="listing[description]"
          id=""
          cols="30"
          rows="6"
          placeholder="enter description"
          required
        >
<%= listing.description %> </textarea
        >
        <div class="invalid-feedback">Description required.</div>
      </div>

      <div>
        Current Image <br />
        <img src="<%= originalImageUrl %>" alt="" />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image </label>
        <input class="form-control" type="file" name="listing[image]" />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price: </label>
        <input
          class="form-control"
          type="text"
          name="listing[price]"
          placeholder="enter price"
          value="<%= listing.price %>"
          required
        />
        <div class="invalid-feedback">Enter a valid price.</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location: </label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          placeholder="enter location"
          value="<%= listing.location %>"
          required
        />
        <div class="invalid-feedback">Enter a your location.</div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country: </label>
        <input
          class="form-control"
          type="text"
          name="listing[country]"
          placeholder="enter country name"
          value="<%= listing.country %>"
          required
        />
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <br />
      <button class="btn btn-success">Save Changes</button>
      <br />
      <br />
      <br />
    </form>
  </div>
</div>
